<html>
<head>
    <title>Upload</title>
</head>
<body>
<script language="javascript">
function insertTitle(tValue){
    document.getElementById("filename").value = tValue;
}
</script>

    <form enctype="multipart/form-data" action="/upload_logs/" method="post">
			<input type="hidden" name="filename" id="filename" />
			<p><input type="text" name="pid" />pid
			<p><input type="text" name="mid" />mid
        <p><input type="file" name="file" onChange="if(this.value)insertTitle(this.value);" />File
        <p><input type="submit" value="Upload" />
    </form>
</body>
</html>
